@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  .bt_n {
    background-color: #f5f8fa;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.3);
    width: 33px;
    height: 33px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s linear;
  }
  .bt_n:hover {
    background-color: #1e1e2d;
    color: white;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 8%;
  
  }
  th{
    color:black;
    background-color: lightseagreen;
  }
  .container{
    /* max-width:1200px; */
    margin:0 auto;
  }
  .mat-button{
    margin:3px;
    color:white;
    background-color: lightseagreen;
  }
  /* .size{
    width: 70%;
    padding-left: 30%;
    padding-top: 40px;
  } */
  label{
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
}
::placeholder{
    text-transform: capitalize;
    font-size: 13px;
    color: #3d3d3d;
}
form{
    max-width: 800px;
    margin: 0 auto;
}
.accordion-button{
    background: #e2e2e2;
    height: 50px;
}
.collapsed{
    height: 52px;
    position: relative;
}
.form-control{
    height: 46px !important;
    width: 500px;
    display: inline-block;
}
label{
    width: 150px;
}
.plus{
    color:#3d3d3d;
    width: 30px;
    font-size: 32px;
    transform: translateY(-3px);
    position: absolute;
    right: 0;
}
.accordion-button::after{
    display: none;  
}


/* styling of search filter */
.supplierlist-box{
    margin: 10px;
     box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
     padding: 10px 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     border-top: 4px solid #ec7063;
     transform: translateY(10px);
 }
 .supplierlist-box h5{text-transform: capitalize;}
 .box-top{
     display: flex;
     justify-content: space-between;
 }
 .lab{
    width: 10%;
 }
 .put{
    width: 90%;
 }
 .fld{
     border: 1px solid #e2e2e2;
     border-radius: 4px;
     outline: none;
     margin: 0 4px;
     padding-left:6px ;
     caret-color: grey;
 }
 table{
     margin: 10px 0;
     text-align: center;
 }
 th{
     border: 1px solid #f4f4f4;
     background-color: #e2e2e2;
     text-transform: capitalize;
     font-weight: 400;
 }
 tr{
     border: 1px solid #f4f4f4;  
 }
 .box-footer{
     display: flex;
     justify-content: space-between;
 }
 .act{
     background: rgba(0,166,90,255);
     color: #fff;
     padding: 2px;
     border-radius: 15px;
     font-size: 12px;
 }
 td{
     padding: 10px 0;
 }
 .bt_n{
  width: 40px;
  color: white;
  border: none;
  padding: 4px;
 }
 .pr{
     background-color: rgba(0,166,90,255);
 }
 .vw{
     background-color: #00c0ef;
 }
 .ed{
     background-color: #3c8dbc;
 }
 .del{
     background-color: #dd4b39;
 }
 .pagination{
    font-size: 12px;
 }
 .mb-3{
  
    display: flex ;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 55px;
    height: 55px;
    position: relative;
    left: 50px;

}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .image{
    width: 55px;
    height: 55px;
  }
  .input-group {
    height: 46px;
}
.form-label,.form-control,.input-group{
    width: 100%;
}
.lab{
    width: 15%;
 }
 .put{
    width: 80%;
 }
 .btn-secondary{
  background-color: #283446;
  transition: all .3s linear;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 13px;
}
.btn-secondary:hover{
  background: transparent;
  border: 2px solid #283446;
  color: #283446;
}


.spinner {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


.top-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .dropdown-search {
    width: 24%;
  }
  .top-right {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .iconscout {
    position: absolute;
    right: 12px;
    top: 7px;
  }
  .fa-search {
    color: #d4d4dc;
  }
  .fa-chevron-down {
    color: #d4d4dc;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .fa-chevron-up {
    color: #d4d4dc;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .lr {
    margin-left: 10px;
    font-size: 9px;
  }
  .dropdown-search {
    position: relative;
  }
  .arrow {
    width: 60%;
    position: relative;
  }
  .custom {
    position: absolute;
    width: 62%;
    top: 37px;
    /* display: none; */
  }
  .show {
    display: block !important;
  }
  .newer {
    width: 20% !important;
  }
  .content {
    width: 100%;
    height: auto;
    background-color: #ffff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    padding: 20px 0;
  }
  .content-box {
    padding: 8px 20px;
  }
  .true,
  .fld {
    border: 1px solid #d4d4dc !important;
    width: 60%;
    border-radius: 4px;
    height: 35px;
    outline: none;
    padding-left: 16px;
    caret-color: #d4d4dc;
    color: #d4d4dc;
  }
  .true {
    width: 40%;
    transition: width 0.3s ease;
  }
  ::placeholder {
    color: #d4d4dc;
  }
  
  .true:focus {
    width: 60%;
  }
  .see {
    font-weight: 600;
    margin: 0 10px;
  }
  .fld {
    border: 1px solid #e2e2e2 !important;
    border-radius: 4px !important;
  
    margin: 0 4px;
  
    caret-color: grey;
  }
  .tf {
    position: relative;
    right: 20px;
  }
  table {
    margin: 10px 0;
    text-align: center;
    border: none !important;
    background-color: #fff;
    border: 1px solid transparent !important;
  }
  td,
  tbody,
  thead {
    border: 1px solid transparent !important;
    text-align: left;
  }
  th {
    border: none !important;
    text-transform: capitalize;
    font-size: 13px;
  }
  
  .box-footer {
    display: flex;
    justify-content: space-between;
  }
  .act {
    background: rgba(0, 166, 90, 255);
    color: #fff;
    padding: 2px;
    border-radius: 15px;
    font-size: 12px;
  }
  td {
    width: 200px;
    padding: 10px 0;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
  }
  .bt_n {
    background-color: #f5f8fa;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.3);
    width: 33px;
    height: 33px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s linear;
  }
  .bt_n:hover {
    background-color: #1e1e2d;
    color: white;
  }
  
  .pagination {
    font-size: 12px;
  }
  


  