
input.ng-invalid.ng0touch{
  border-color: red;
}

.container-fluid{
  padding-left: 0 !important;
  }
  .form-control:focus{
    box-shadow: none !important;
  }
  .f-w{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .log{
   text-align: center;
  }
 
  .side{
    background-color: #1e1e2d
  }
  .cntr{
    display: flex;
    flex-direction: column;
   justify-content: center;
     height: 100vh;
     align-items: center;
  }
  form h1{
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 13px;
  }
  .para {
    /* font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px; */
      width: 420px;
      margin-left: 15px;
      /* text-align: center; */
  }
  .para p{
    font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px;
      text-align: center;
  }
  a{
    text-transform: capitalize;
  }
  .lgn {
    background-color: 	#181c32;
    border: none;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    margin: 10px;
    border: 2px solid transparent;
    transition: all .3 linear;
  }
  .lgn:hover{
    background-color: transparent;
    border: 2px solid #1e1e2d;
    color: #1e1e2d;
  }.lg-f{
    width:100%;
    height: 46px;
    border: 1px solid #E2E2E2;
    margin: 15px 0;
    background-color: #FAFAFA;
    padding: 13px 10px;
    border-radius: 2px;
    padding: 0 20px;
  }
  .lg-f::placeholder{
    text-transform: capitalize;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
  }
  .sec{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px ;
  }
  .log{
    text-align: center;
  }
  .log h4{color: #181c32;
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;}
  .sp{
    text-transform: capitalize;
    background: linear-gradient(to right, #e6355c 50%, #ec7063 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  form{
  width: auto;
  }
  .view{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  .view img{
    width: 400px;
    object-fit: cover;
  }
  .para{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .member{
    text-align: center;
    text-transform: capitalize;
  }
  span{
    text-transform: capitalize;
  }
  .tag{
    margin-left: 4px;
  }
  .image{
    max-width: 500px;
    height: 400px;
  }
  .text{
    margin-bottom: 10%;
    text-align: center;
  }
  .text h3{
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 16px
  }
  .text p{
    line-height: 24px;
    margin-bottom: 0;
    max-width: 390px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
  }

  .help-block {
    font-size: 11px;
    margin-left: 5px;
  }
  .carousel-inner{
    height: 550px;
  }
  @media (max-width:576px) , (max-width:390px){
  /* .carousel-inner{
      height: auto;
    } */
    .para p{
      display: none;
    }
    .view{
     height: 100%;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .text h3{
      font-size: 18px;
    }
    .text p{
      font-size: 12px;
      white-space: nowrap;
    }
    .image{
      height: auto;
    }
    .lg-f,.lgn{
      width: 250px;
    }
  }