<div class="d-flex justify-content-center" style="margin-top:40px">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">New password</h3>
            
            <div class="card-text">
                <form>
                    <div class="form-group">
                        <label for="Password " style="margin-bottom: 15px">Enter your email address and we will send you the password on the given email.</label>
                        <input type="newPassword"  [(ngModel)]="newPassword" style="margin-bottom: 15px; padding: 10px;"
                        [ngModelOptions]="{standalone: true}"  class="form-control form-control-sm" placeholder="New Password">
                        <input type="confirmPassword"  [(ngModel)]="confirmPassword" style="margin-bottom: 15px; padding: 10px;"
                        [ngModelOptions]="{standalone: true}"  class="form-control form-control-sm" placeholder="Confirm Password">
                    </div>
    
                    <button type="submit" (click)="newPass()" class="btn btn-primary btn-block" style="float:right;">Click</button>
                </form>
            </div>
        </div>
    </div>
</div>