<div class="jumbotron">
            <div class="col-md-6 offset-md-3">
                <h3>Update Email and Password</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors  }" />
                        <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">email is required</div>
                            <div *ngIf="f.email.errors.email  && !f.email.errors.required">email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />
                        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.currentPassword.errors.required">current password is required</div>       
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required && !f.password.errors.minlength && !f.password.errors.pattern && !f.password.errors.cannotContainSpace">password is required</div>
                            <div *ngIf="f.password.errors.pattern && !f.password.errors.required && !f.password.errors.cannotContainSpace"> password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number</div>
                            <div *ngIf="f.password.errors.cannotContainSpace">password cannot contain whitespace</div>
                            <div *ngIf="f.password.errors.maxlength && !f.password.errors.cannotContainSpace">password can be max 10 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">confirm password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">confirm password exactly match with password</div>
                         </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    </div>
                </form>
    </div>
</div>




<!-- <br/>
<br/>
<div class="d-flex justify-content-center" >
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password & email</h3>
            <div class="card-text">
                <form>
                    <div class="form-group">
                        <label for="Password ">Are you sure! you want to change your Password or Email</label>
                         <input type="email" name="email" ngModel [email]="true"> -->
                        <!-- <input type="email" #emailControl="ngModel" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"class="form-control lg-f" id="formGroupExampleInput" placeholder="Email">
                        <input type="password" #currentpasswordControl="ngModel" [(ngModel)]="currentpassword" [ngModelOptions]="{standalone: true}"class="form-control lg-f" id="formGroupExampleInput1" placeholder="Current Password">
                        <input type="password" #passwordControl="ngModel" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"class="form-control lg-f" id="formGroupExampleInput2" placeholder="Password">
                    </div>
                    <button  class="btn"  class="btn btn-primary btn-block" (click)="chngpassword()">Save</button>
                    <button  class="btn"  class="btn btn-primary btn-block" (click)="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div> -->