<h3>
    Low & High of 
    <small class="text-muted">{{name}}</small>
  </h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Low</th>
        <th scope="col">High</th>
        <th scope="col">Open</th>
        <th scope="col">Close</th>
        <th scope="col">Volumn</th>
        <th scope="col">Date</th>

      </tr>
    </thead>
    <tbody *ngFor="let i of data let x = index">
<tr>      <th scope="row">{{x}}</th>

    <td>
{{name}}
</td>
<td style="color:red ;">{{i.Low}}</td>
<td style="color:green ;">{{i.High}}</td>
<td style="color:green ;">{{i.Open}}</td>
<td style="color:red ;">{{i.Close}}</td>
<td>{{i.Volume}}</td>
<td>{{i.Date}}</td></tr>
    </tbody>
  </table>