

<div class="supplierlist-box" >
  <h5>Stock list</h5>
  <div class="box-top">
    <div class="top-center"></div>
    <div class="top-right">
      <span>search:</span>
      <input
        type="search"
        class="fld"
        [(ngModel)]="term"
        class="searchTerm"
      />
    </div>
  </div>
  <div class="box-bottom">
    <table class="table table-hover" style="width: 100%">
      <thead>
        <tr>
          <th><b>No.</b></th>
          <th>Stock Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody

        *ngFor="
          let i of data
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }
            | filter: term;
          let x = index
        "
      >
        <tr scope="row">
          <td scope="row">
{{x}}
          </td>
          <td scope="row"><mat-icon>open_with</mat-icon>
            <b>{{ i.Name }}</b> </td>
<td scope="row">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <button mat-raised-button [routerLink]="['/stock', i.Name]">
      Data  <mat-icon>drag_indicator</mat-icon></button>
    <button mat-raised-button color="primary" [routerLink]="['/stockgraph', i.Name]">
      Graph<mat-icon >assessment</mat-icon></button>
    </mat-button-toggle-group>

    

</td>

        </tr>

      </tbody>
    </table>
  </div>

  <div class="box-footer">
    <!-- <span style="font-size: 12px">showing 1 to 1 of 1 entries</span> -->
    <div class="pagination">
      <nav aria-label="Page navigation example">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </nav>
    </div>
  </div>
</div>




<!-- <p>Sort Table Rows by Clicking on the Table Headers - Ascending and Descending (jQuery)</p>
<div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Wins</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Draws</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Losses</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Total</a></div>
		</div>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data">Tom</div>
				<div class="table-data">2</div>
				<div class="table-data">0</div>
				<div class="table-data">1</div>
				<div class="table-data">5</div>
			</div>
			<div class="table-row">
				<div class="table-data">Dick</div>
				<div class="table-data">1</div>
				<div class="table-data">1</div>
				<div class="table-data">2</div>
				<div class="table-data">3</div>
			</div>
			<div class="table-row">
				<div class="table-data">Harry</div>
				<div class="table-data">0</div>
				<div class="table-data">2</div>
				<div class="table-data">2</div>
				<div class="table-data">2</div>
			</div>
		</div>	
	</div>
</div> -->